body{font-family:"Arial",sans-serif;} #currentStatus{min-width: 100%; text-align: justify } .inputClass {width:50px; padding:1px;} .clearBoth {clear:both} #batteryContainer{width:97%;height:0.75em; border:1px solid black;vertical-align:middle;display:inline-block;} #batteryPercentage{height:100%;background-color:lime;}
@media all and (min-width:601px){ #setTemp {width:130;margin-left:auto;margin-right:auto;text-align:center;} }
.valuebox{border:1px solid black;text-align: center; max-width: 100%; display: inline-block;margin:0.1em }
.valuebox .title{background-color: #505050; color: white;font-weight: bold;padding: 0.25em 1em 0.25em 1em }
.valuebox .value{font-weight: bold;}
